{% extends "base.html" %}
{% block content  %}


<main class="main-content">
      <div class="container contact-container">
    <div class="contact-header">
      <h2>Contact Us</h2>
      <p>We're here to help! Reach out to us using the details below.</p>
    </div>

    <div class="row contact-info">
      <div class="col-md-4">
        <h5><i class="bi bi-geo-alt-fill"></i> Address</h5>
        <p>123 Main Street, Lahore, Pakistan</p>
      </div>
      <div class="col-md-4">
        <h5><i class="bi bi-telephone-fill"></i> Phone</h5>
        <p>+92 300 1234567</p>
      </div>
      <div class="col-md-4">
        <h5><i class="bi bi-envelope-fill"></i> Email</h5>
        <p>info@example.com</p>
      </div>
    </div>

    <div class="map">
      <h5>Our Location</h5>
      <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13612.592476982023!2d74.3239727734277!3d31.520369000000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391904dd4906c3c1%3A0xb1d3a4e8b6f3790c!2sLahore!5e0!3m2!1sen!2s!4v1644392574086!5m2!1sen!2s"
        allowfullscreen="" loading="lazy">
      </iframe>
    </div>
  </div>    

        
</main>

{% endblock  %}